<script src="/js/events_admin.js"></script>

<div id="events_admin_page_container" class="page_container">
  <div id="events_admin_list_container" class="container margin-top">
    <div id="events_admin_search" class="d-flex">
      <input id="events_admin_search_item" class="form-control me-2" type="text" placeholder="Keresés">
      <button id="events_admin_search_btn" class="fa fa-search" onclick="Search()"></button>
    </div>
    <div id="events_admin_list">
    </div>  
  </div>
</div>

