<!-- <script src="js/gallery.js"></script> -->

<div id="gallery_page_container" class="page_container"> 

    <br>

    <div id="gallery_picture_container">
        <img id="gallery_picture" class="d-block m-auto">
    </div>

    <br>

    <div id="gallery_buttons_container" class="d-flex justify-content-around">
        <button id="gallery_back_btn" class="navigatebtn">&lt;</button>
        <button id="gallery_next_btn" class="navigatebtn">&gt;</button>
    </div>
</div>
