<script src="js/gallery.js"></script>

<div id="gallery_page_container" class="page_container"> 

    <br>

    <div id="gallery_picture_container">
        <img id="gallery_picture" class="d-block m-auto">
    </div>

    <br>

    <div id="gallery_buttons_container" class="d-flex justify-content-around"></div>
</div>
