<div id="repertoire_page_container" class="page_container">

  <div class="search_bar_container_outside">
    <div id="repertoire_search_container" class="d-flex search_bar_container_inside">
      <input id="repertoire_search_item" class="form-control me-2" type="text" placeholder="Keresés">
      <button id="repertoire_search_btn" class="fa fa-search search_btn"></button>
    </div>
  </div>

  <div id="repertoire_list_container" class="container">
    <div id='repertoire_list'></div>
  </div>

</div>