
<script src="js/villa.js"></script>

<div id="villa_page_container" class="page_container">
    <div id="villa_container" class="d-flex justify-content-center align-items-center">
        <div>
            <p>
                Hogy megismerjük a kórusunk székhelyéül szolgáló Mandák Otthont, e ház történetéhez kell visszanyúlnunk. A fóti villa eredetileg egy polgári család nyaralójának épült valamikor az 1900-as évek első évtizedében. Az építtető, Mandák Pál egy fővárosi vállalkozó volt, aki a villát a lányára, Mandák Máriára hagyta. Az evangélikus vallású Mária az 1930-as években már Fóton élt, és idős korára Zászkaliczky Pál lelkésznek és feleségének, Blaskovits Máriának közeli barátja lett. A gyermektelen idős asszonyt a házaspár egészen 1947-ig ápolta, gondozta, így Mária az épületet örökségül szánta nekik. Ők azonban ezt nem fogadták el, ehelyett azt kérték, hogy ajánlja fel az egyház számára belmissziói célokra. Így került az Evangélikus Egyház tulajdonába a Mandák-villa, és minden megpróbáltatás ellenére, még a pártállami rendszer ideje alatt is egyházi tulajdonban maradt.
            </p>
            <p>
                Számos szerepet töltött be a villaépület az immáron több mint 75 év alatt. Szolgált Népfőiskolaként, lelkészek gyerekeinek ideiglenes otthonaként, sőt a Fasori Evangélikus Gimnázium első kollégiuma is itt rendezkedett be. Mind közül azonban kiemelkedően fontos, a ’60-as évek elejétől pedig elsődleges feladatává vált, hogy az Evangélikus Kántorképző Intézet otthona lett.
            </p>
            <p>
                Az épület története így összefonódik a kántorképzés történetével, amelynek kapcsán feltétlenül meg kell említenünk azokat, akik munkásságukkal, odaadásukkal és szakmai tudásukkal az életükből évtizedeket szántak arra, hogy a Mandák Otthonban zajló kántorképzés magas színvonalú és folyamatosan fejlődő legyen. Kiss János, Sulyok Imre és Trajtler Gábor, az evangélikus kántorképzés atyjai máig példaképek nekünk.
            </p>
            <p>
                Az idők során változtak az épülettel szemben támasztott követelmények is. A mindenkori lehetőségekhez mérten több felújítás, átépítés során igyekezett megfelelni az új elvárásoknak az egyház és a Kántorképző Intézet. Be- és átépültek terek, új hasznos területekkel bővült a ház, így az 1987-es, 2019-es és legutóbbi, 2023-as felújítási és átépítési munkáknak köszönhetően mára két funkcionális és két lakószinttel várja a villa és az azt körülölelő közel ötezer négyzetméteres park az ide érkezőket. 
            </p>
            <p>
                Az intézmény a 21. század követelményeinek igyekszik megfelelni, ezért akadálymentesítve lett, valamint új vizesblokkokat és gépészetet építettek be. Az energetikai rendszer a felújítás során új kazánokat, napelemeket és napkollektorokat is kapott a minél hatékonyabb működés érdekében, illetve részben klimatizált is lett az épület. 
            </p>
            <p>
                A Mandák Otthonban a legalsó szinten kap helyet két ebédlő és az akár 60 főt is kiszolgálni képes konyha, valamint vizesblokk és több üzemeltetési helyiség.
            </p>
            <p>
                Az emeleti és tetőtéri szintek lakószintek, amelyek hálószobái több mint 60 fő befogadására képesek, ideális szállást nyújtva a hosszabb-rövidebb képzésekre érkező diákoknak, hallgatóknak, vagy a különböző egyházi rendezvények vendégeinek.
                </p>
            <p>
                A magasföldszint tereiben zajlik az oktatás, tantermek és irodák találhatók ezen a szinten, továbbá itt alakítottak ki egy különálló lakóteret a mozgássérültek számára. A magasföldszinten helyezkedik el a legnagyobb létszám befogadására képes nagyterem is, ami nem csak a kórusunk próbáinak, de egyházi konferenciáknak, nagyobb létszámú előadásoknak is helyszínéül szolgál. A nagyterem előtti, nagyszerű akusztikájú hall az épület kimagasló szépségű tere, amelynek megvilágításáról egy körülbelül 18 négyzetméteres ólomüveg tetőablak gondoskodik, különleges hangulatot adva a hallnak. 
            </p>
            <p>
                Az épületet igazán különlegessé teszi a benne található hangszerállomány, és az intézményben zajló zenei képzésnek köszönhetően reggeltől estig egyházzene járja át még a télikertet is. A Kántorképző Intézetben egy kétmanuálos mechanikus orgona és további két egymanuálos gyakorlóorgona található, illetve van lehetőség gyakorolni a társalgóban felállított kétmanuálos digitális orgonán is. Tucatnyi harmónium is a hallgatók rendelkezésére áll a gyakorláshoz, a szolfézsoktatást pedig 2 pianinó és számos digitális zongora segíti. 
            </p>
            <p>
                Mi, a Mandák kórus tagjai otthonunknak érezzük a Mandák-villát, nagy szeretettel és a legjobb tudásunkkal végzett munkánkkal igyekszünk méltó lakói és használói lenni ennek a csodálatos intézménynek.
            </p>
        </div>

        <div id="villa_images_container">
            <a href="/galeria?event=-2&image=/img/mandakhaz/1.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/1.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/2.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/2.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/3.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/3.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/4.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/4.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/5.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/5.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/6.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/6.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/7.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/7.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/8.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/8.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/9.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/9.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/10.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/10.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/11.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/11.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/12.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/12.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/13.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/13.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/14.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/14.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/15.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/15.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/16.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/16.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/17.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/17.jpg"></a>
            <a href="/galeria?event=-2&image=/img/mandakhaz/18.jpg"><img class="mandak_villa_image" src="/img/mandakhaz/18.jpg"></a>
        </div>
    </div>
</div>
