    <%- include('header') %>
    <%- include('navbar') %>
    <script src="/js/donate.js"></script>
    <link rel="stylesheet" href="/css/donate.css">
    <div class="d-flex justify-content-center align-items-center" style="height: 90vh;">

        <div id="container" class="d-flex flex-column justify-content-center align-items-center">
            <img id="logo" src="/img/logo.png" alt="logo">
            <div>
                <p>
                    Kedves Követőink, egykori és mai Kórustársak, Barátaink!
                </p>
                <p>
                    Köszönjük, hogy évről évre egyre többen támogatjátok közösségünket!
                    <br>
                    Ezúton is szeretnénk kérni, hogy amennyiben tehetitek, adótok 1%-nak erejéig támogassátok a működésünket biztosító Pro Musica Lutherana Alapítványunkat!
                </p>
                <p>
                    Előre is köszönjük!
                    <br>
                    <b>Mandák kórus</b>
                </p>
                <p>
                    Pro Musica Lutherana Alapítvány<br>
                    2151 Fót Berda József u. 3.<br>
                    Adószám: 18660582-1-13
                </p>
            </div>
        </div>
    </div>
</body>
</html>