<footer class="w-100 dark_mode">
    <div class="container d-flex justify-content-around">
        <div class="footer-content-container d-flex flex-column justify-content-around">
            <div class="content-item">
                <i class="fa fa-envelope text-white"></i>&nbsp;
                <a href = "mailto: abc@example.com">abc@example.com</a>
            </div>
            <div class="content-item">
                <i class="fa fa-phone text-white"></i>&nbsp;
                <a href = "tel: 06123456789">06123456789</a>
            </div>
            <div class="content-item">
                <i class="fa fa-home text-white"></i>&nbsp;
                <a href = "https://goo.gl/maps/z91hJUAtqPimmGxr7" target="_blank">Berda József utca, Fót</a>
            </div>
        </div>
        <div class="footer-content-container d-flex flex-column justify-content-around" style="width: 100px;">
            <div class="d-flex justify-content-around">
                <div class="content-item">
                    <a href = "https://www.facebook.com/Mandakkorus" target="_blank"><img id="facebook-footer-icon" class="dark-facebook" src="/img/facebook.png" alt="facebook"></a>
                </div>
                <div class="content-item">
                    <a href = "https://www.youtube.com/@mandakkorus1834" target="_blank"><img id="youtube-footer-icon" class="dark-youtube" src="/img/youtube.png" alt="youtube"></a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container d-flex justify-content-around">
        <div class="footer-content-container d-flex flex-column justify-content-around">
                Pro Musica Lutherana Alapítvány  <br>
                2151 Fót Berda József u. 3. <br>
                Adószám: 18660582-1-13  <br>
        </div>
        <div class="footer-content-container d-flex flex-column justify-content-around" style="width: 100px;">
                <img id="logo" src="/img/logo.png" alt="logo">
        </div>
    </div>
</div>
</footer>
</body>
</html>