<%- include('header') %>
<%- include('navbar') %>

<style>
    #picture{
        max-height: 80vh;
        max-width: 100vw;
        /* cursor: pointer; */
    }
    #picture-container{
        height: 80vh;
        display: flex;
        align-items: center;
    }
    .navigatebtn{
        background: none;
        border: none;
        color: rgba(255, 255, 255, 0.7);
        font-size: 2em;
    }
    #buttons-container{
        bottom: 1em;
    }
    body{
        background-color: black;
    }
    .imgbtn{
        height: 2em;
        width: 2em;
        margin-top: 0.5em;
        cursor: pointer;
        border-radius: 0.3em;
    }
    @media only screen and (max-width: 1000px){
        .imgbtn{
            display: none;
        }
        #picture{
            max-height: 60vh;
        }
        #picture-container{
            height: 60vh;
        }
    }
</style>

<script>
    //change active nav-item
    $('.active').removeClass('active');
    $('#gallery-nav-item').addClass('active');

    const urlParams = new URLSearchParams(location.search);
    let backBtn = $('<button class="navigatebtn" onclick="Back()"><</button>');
    let nextBtn = $('<button class="navigatebtn" onclick="Next()">></button>');
    let i = 0;
    let images;
    let event = parseInt(urlParams.get('event'));

    $.post("/get_local_images", {event_id: event}, (res) => {
        images = res;

        SetPicture(urlParams.get('image'));

        $("#buttons-container").append(backBtn);

        if (images.length <= 10){
            for (let j = 0; j < images.length; j++) {
                let new_image_btn = $("<img>");
                new_image_btn.attr("src", images[j].image);
                new_image_btn.attr("alt", images[j].name);
                new_image_btn.addClass("imgbtn");
                new_image_btn.click(function(){
                    i = j;
                    SetPicture(images[i].image);
                });
                $("#buttons-container").append(new_image_btn);
            }
        }

        $("#buttons-container").append(nextBtn);
    });

    function Next(){
        i++;
        if(i > images.length - 1) i = 0;

        SetPicture(images[i].image);
    }

    function Back(){
        i--;
        if(i < 0) i = images.length - 1;                
        
        SetPicture(images[i].image);
    }

    function SetPicture(image){
        $("#picture").attr("src", image);
        $("#picture").attr("alt", image);
        // $("#picture").click(function(){
        //     location.href = image;
        // });
    }
</script>

<br>

<div id="picture-container">
    <img id="picture" class="d-block m-auto">
</div>

<br>

<div id="buttons-container" class="d-flex justify-content-around">
</div>

<%- include('footer') %>