<%- include('header') %>
<style>
    #wrapper{
        overflow-x: hidden;
    }
</style>

<script>
    let files = "<%= files %>".split(',');

    $(document).ready(() => {

        $("#header-image-container").css("background-image", `url("/img/gallery/${files[0]}")`);
        
        for (let i = 0; i < files.length; i++) {
                
            let header_image = $("<div></div>");
            header_image.addClass("header-image");
            header_image.css("background-image", `url("/img/gallery/${files[i]}")`);
            header_image.attr("id", `${i}header-image`)

            $("#header-image-container").append(header_image);
        }

        $("#header-image-container").click(function(){
            location.href = `/galeria`;
        });
        setInterval(Next, 5000);
    });
    let i = 1;
    function Next(){
        $(`.header-image`).css({"z-index": 0});
        $(`#${i}header-image`).css({"z-index": 1});
        $(`#${i}header-image`).animate({
            left: '0px'
        }, 1000, () => {
            if(i === 0)
                $(`#${files.length - 1}header-image`).css("left", "100vw");
            else
                $(`#${i-1}header-image`).css("left", "100vw");
            i++;
            if(i === files.length) i = 0;
        });
    }
</script>
<div id="header-image-container">

</div>

<%- include('navbar') %>

<script src="js/home.js"></script>
    <div id="home" class="container margin-top">
        <h1>Fót</h1>
        Ha megkérdezünk bárkit, hallott-e erről a Budapest melletti településről, azt fogja válaszolni: gyermekváros. A szerencsétlen sorsú, állami gondozásba vett gyermekekről és a gondozásukra - az egykori Károlyi kastélyhoz tartozó park területén – életre hívott otthonról már mindenki hallott. Csak néhány utcát kell odébb sétálni ahhoz, hogy egy egészen más jellegű „gyermekvárosba” érkezzünk. Egy olyan helyre, ahol egész életünkben megtapasztalhatjuk, hogy kortól függetlenül gyermekek vagyunk. Az Isten gyermekei. Ezt a helyet úgy hívják, hogy Mandák-villa. Az egykori tulajdonos, Mandák Mária - örököst nem hagyván maga után – belmissziói célokra az evangélikus egyháznak ajánlotta fel ezt a csodálatos fekvésű villát, amiben immár hetedik évtizede zajlik az evangélikus kántorok képzése. Olyan hely ez a világban, ahol a külvilágtól elzártan Isten közelségét megtapasztalhatjuk a többszáz éves fák árnyékában, az épület minden szobájában jelenlévő orgona vagy harmónium hangjában, az ódon lépcsők recsegésében, a kerti padokon gyülekezeti énekeket tanuló tizenéves gyermekek énekhangjában, vagy a nagyteremből felhangzó kórus éneklésében. Ez az a hely, ahová izgatott lélekkel és nyitott szívvel érkeztünk meg mi is a nyári kántorképző tanfolyamokra, és feltöltődve bár, de szomorúan távoztunk, hiszen messze volt a következő nyár, amikor ismét átélhettük azt a csodát, amit csak átélni lehet, leírni nem. Mert hogyan is lehetne leírni azt, hogy mit jelentenek a reggeli és esti áhítatok, az elmélyült bibliaolvasással töltött reggelek, az olykor küzdelmes, de később annál gördülékenyebb harmónium – és orgonagyakorlók, koráljaink tanulása, tanítása, a szolfézs - és orgonaismeretórák és a kórus. Igen, a kórus. Három héten át énekelhettünk négy-hatszólamú egyházi kórusmuzsikát, és hazatérve az iskolai kórusban jobb esetben két-három szólamban csupán világi műveket próbáltunk. És már csak 51 hetet kellett várni, hogy újra együtt legyünk…
        <br><br>Ilyesmi gondolatok járhattak az alapító, dr. Hafenscher Károly fejében, amikor úgy érezte, hogy életre kell hívnia egy állandó kórust, amivel a nyáron megkezdett munkát nem kell évről évre újrakezdeni, hanem a tanfolyami munkára alapozva, néhány évközi próbával talán megvalósítható, hogy missziói célú kórusa alakuljon az egyházunknak. A gondolatot tett követte, és 1989 decemberében közel 30 fővel megalapította a Mandák kórust. 34 év telt el azóta. Kántorképzős hallgatók százai lettek hosszabb-rövidebb ideig tagjai a kórusnak, és tapasztalhatták meg az énekes szolgálat örömét. Meglátogattunk több mint 80 gyülekezetet, énekeltünk élő közvetítésű televíziós istentiszteleteken, jártunk több alkalommal külföldön, koncerteztünk felejthetetlen helyszíneken (Pesti Vígadó, aggteleki cseppkőbarlang), és akár meglepő időpontokban - szilveszter éjjelén 23 órakor.  És még legalább 30 évig folytatjuk. Immáron családosan gyerekekkel. Hogy a következő generációk is megélhessék azt, hogy ebben a kórusban valamiért századszor is csodálatos élmény elénekelni: „…et inclinato capite emisit spiritum”.
        <br><br>Hála légyen!
    </div>

<br><br>

<div id="video" class="container">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/1TntYnv5ApA" title="&#39;Október a reformáció hónapja&#39; nyitó istentisztelet - Mandák Kórus" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<!-- <div class="container">
    <div id="map">
        <iframe width="1280" height="720" src="https://www.google.com/maps/d/u/1/embed?mid=1AbRvzKRrfg7bgOzvHhPKAq4UaEztEmI&ehbc=2E312F"></iframe>
    </div>
</div> -->
<%- include('footer') %>