<nav class="navbar navbar-expand-sm navbar-dark w-100 dark_mode">
  <div class="container-fluid">
    <img id="nav-logo" src="/img/logo-small-new.png" alt="logo" class="navbar-brand dark_logo" onclick="Dark_mode()">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav w-100 d-flex justify-content-center">

        

        <li id="home-nav-item" class="nav-item active">
          <a class="nav-link" href="/#">Kezdőlap</a>
        </li>
        <li id="gallery-nav-item" class="nav-item">
          <a class="nav-link" href="/gallery">Galéria</a>
        </li>
        <li id="repertoire-nav-item" class="nav-item">
            <a class="nav-link" href="/repertoire">Repertoár</a>
        </li>
        <li id="places-nav-item" class="nav-item">
            <a class="nav-link" href="/events">Fellépések</a>
        </li>
        <li id="kantorkepzo-nav-item" class="nav-item"> 
          <a class="nav-link" href="/kantorkepzo">A kántorképzőről</a>
        </li>
        <!-- <li id="donate-nav-item" class="nav-item"> 
          <a class="nav-link" href="/donate">Támogatás</a>
        </li> -->
        <%if(admin){%>
          <li id="google_drive-nav-item" class="nav-item">
            <a class="nav-link" href="/synchronize_google_drive">Google Drive</a>
          </li>
        <% } %>

        <%if(user_id){%>

          <li id="logout-nav-item" class="nav-item"> 
            <a class="nav-link" href="/logout">Kijelentkezés</a>
          </li>
          
        <%} else {%>

          <li id="login-nav-item" class="nav-item"> 
            <a class="nav-link" href="/login">Bejelentkezés</a>
          </li>

        <% } %>

      </ul>
    </div>
  </div>
</nav>