<%- include('header') %>
<%- include('navbar') %>
<script src="js/places.js"></script>
<link rel="stylesheet" href="/css/places.css">

<%- include('audio_player') %>

  <div id="list-container" class="container margin-top">
    <div id="search" class="d-flex">
      <input class="form-control me-2" type="text" placeholder="Keresés" id="search_item">
      <button id="search-btn" class="fa fa-search" onclick="Search()"></button>
    </div>
    <div id="list">
    </div>  
  </div>

<%- include('footer') %>