<%- include('header') %>
<%- include('navbar') %>



<%if(admin){%>
  <link rel="stylesheet" href="/css/repertoire_admin.css">
  <script src="js/repertoire_admin.js"></script>
<%}else{%>
  <link rel="stylesheet" href="/css/repertoire.css">
  <script src="js/repertoire.js"></script>
  <%- include('audio_player') %>
<%}%>

<div id="list-container" class="container margin-top">
  <div id="search" class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Keresés" id="search_item">
    <button id="search-btn" class="fa fa-search"></button>
  </div>
  <div id='list'></div>
</div>

<%- include('footer') %>