body{
    height: 100vh;
    width: 100vw;
    background-image: url("/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url("/img/background.jpg");
}
#container{
    width: 40em;
    padding: 20px;
    position: relative;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px black;  
}
#logo{
    width: 150px;
    margin-bottom: 20px;
}
nav{
    top: 0;
    z-index: 1;
    background: none !important;
    position: sticky !important;
    box-shadow: none;
}
nav a, footer a{
    color: rgba(255, 255, 255, 0.7) !important;
}
nav .active{
    font-weight: bold;
}
#nav-logo{
    display: none;
}