.list-item{
    box-shadow: 0 0 0.5em #696969;
    margin: 2em auto;
    border-radius: 1em;
    padding-bottom: 0.01em;
}
.title_place_date{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    padding: 1em;
}
.cover_image{
    background-image: url("/img/default_cover.jpg");
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
    width: 100%;
    border-radius: 1em;
    cursor: pointer;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.hide_bottom_radius{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.event_title{
    font-weight: bold;
    font-size: larger;
    width: 100%;
    /* padding: 0.5em 0.85em;
    padding-bottom: 0; */
    color: white;
    text-shadow: 0 0 5px #000;
}
.time{
    font-size: larger;
    width: fit-content;
    color: white;
    text-shadow: 0 0 5px #000;
    /* padding: 0 0.4em; */
}
/* .place_date{
    padding: 0 0.5em;
    padding-bottom: 1em;
} */
.label{
    font-weight: bold;
    font-size: larger;
    margin-left: 0.8em;
}
.img_link{
    width: 5em;
    height: auto;
    float: left;
    margin-right: 0.7em;
}
.image{
    width: 5em;
    /* margin-right: 1em; */
}
.description{
    margin: 0 !important;
    text-align: justify;
    /* min-height: 10em; */
}
.image_and_description{
    overflow: hidden;
    margin: 1em;
    margin-top: 0;
}
@media only screen and (max-width: 1000px) {
    .music_list{
        min-width: 0 !important;
        max-width: fit-content;
    }
    .music_list li{
        margin: 1em 0;
    }
}
#list{
    min-height: 100vh;
    padding: 1em;
}
#list-container{
    max-width: 40em;
    margin: auto;
}
#search{
    position: relative;
}
.display-block{
    display: block !important;
}
audio{
    /* margin: auto; */
    margin-bottom: 1em;
    border-radius: 3em;
    box-shadow: 0 0 0.1em #696969;
}
audio:hover{
    cursor: pointer;
}
.music_list li{
    list-style-type: none;
    /*width: min-content; */
}
li a:not(nav a){
    color: black;
    text-decoration: none;
}
li a:hover:not(nav a){
    text-decoration: underline;
    cursor: pointer;
    color: black;
}
.details{
    display: none;
}
.image_div{
    flex: initial !important;
    width: 5em !important;
    height: 5em !important;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    margin: 0.5em;
}
.images_container .row input[type=radio]{
    flex: initial !important;
    width: initial !important;
    max-width: initial !important;
}
.images_container .row{
    justify-content: center;
    margin: 0.5em;
}
.player_iframe{
    margin-bottom: 1em;
}
.events_track_title:hover{
    cursor: pointer;
    text-decoration: underline;
}