<footer class="w-100 dark_mode">
    <div class="container d-flex justify-content-around">
        <div class="footer-content-container d-flex flex-column justify-content-around">
            <div class="content-item">
                <i class="fa fa-globe text-white"></i>&nbsp;&nbsp;
                <a href = "https://kantorkepzo.egyhazkozseg.hu/" target="_blank">Evangélikus kántorképző intézet</a>
            </div>
            <div class="content-item">
                <i class="fa fa-home text-white"></i>&nbsp;
                <a href = "https://maps.app.goo.gl/r9m1NdQNPCTzxo418" target="_blank">2151 Fót Berda József u. 3. </a>
            </div>
        </div>
        <div class="footer-content-container d-flex flex-column justify-content-around" style="width: 100px;">
            <div id="social_media_links_container" class="d-flex justify-content-around">
                <div class="content-item">
                    <a  href = "https://www.facebook.com/Mandakkorus" target="_blank" class="fab fa-facebook fa-2x" style="text-decoration: none;"></a>
                    <!-- <a  href = "https://www.facebook.com/Mandakkorus" target="_blank" class="fab fa-facebook fa-2x" style="color: #3b5998; text-decoration: none; text-shadow: 0 0 2px grey;"></a> -->
                </div>
                <div class="content-item">
                    <a href = "https://www.youtube.com/@mandakkorus1834" target="_blank" class="fab fa-youtube fa-2x" style="text-decoration: none;"></a>
                    <!-- <a href = "https://www.youtube.com/@mandakkorus1834" target="_blank" class="fab fa-youtube fa-2x" style="color: #ff0000; text-decoration: none; text-shadow: 0 0 2px grey;"></a> -->
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container d-flex justify-content-around">
        <div class="footer-content-container d-flex flex-column justify-content-around">
                Pro Musica Lutherana Alapítvány  <br>
                2151 Fót Berda József u. 3. <br>
                Adószám: 18660582-1-13  <br>
        </div>
        <div class="footer-content-container d-flex flex-column justify-content-around" style="width: 100px;">
            <img id="logo" src="/img/logo.png" alt="logo">
        </div>
    </div>

    <div id="copyright" class="container d-flex flex-column justify-content-around" >&copy 2025 Mandák kórus</div>
</footer>