#villa_page_container{
    // height: 100vh;
    // width: 100vw;
    // background-image: url("/img/kantorkepzo.jpg");
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-image: linear-gradient(
    //     rgba(0, 0, 0, 0.8), 
    //     rgba(0, 0, 0, 0.8)
    //   ), url("/img/kantorkepzo.jpg");
    // overflow-y: scroll;

    // #logo{
    //     width: 150px;
    //     margin-bottom: 20px;
    // }
    // nav{
    //     top: 0;
    //     z-index: 1;
    // /* background: black !important;*/
    //     /* opacity: 0.3 !important; */
    //     position: sticky !important;
    //     box-shadow: none;
    //     a {
    //         color: rgba(255, 255, 255) !important;
    //     }
    //     .active{
    //         font-weight: bold;
    //     }
    // }
    // footer a{
    //     color: rgba(255, 255, 255) !important;
    // }

    #villa_container{
        width: 70vw;
        padding: 20px;
        position: relative;
        color: white;
        opacity: 0;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 10em;

        p{
            text-align: justify;
        }

        #villa_images_container {
            width: 100%;
            overflow-x: auto;
            white-space: nowrap;
            margin: 0;
            
            img {
                display: inline-block;
                margin: 1em;
                box-shadow: 0 0 10px #000;
                height: 15em;
            }
        }
    }
}